.nav-light li a {
	color: #F7F7F7;
}

.nav-light li a:hover {
	color: #FFFFFF;
}

.nav-light .nav-active {
	border-bottom: 1px solid #F7F7F7;
}

.nav-light .nav-active:hover {
	border-bottom: 1px solid #FFFFFF;
}

.head {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	color: #FFFFFF;
	background: linear-gradient(45deg, hsla(175, 100%, 50%, 1), hsla(225, 100%, 50%, 1), hsla(275, 100%, 50%, 1));
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
}

.head-content {
	padding: 17px;
}

.about {
	display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
}

.about-content {
	align-self: center;
}

.about-content h3 {
	font-family: "Source Serif Pro", Georgia, serif;
	font-weight: 400;
}

.projects {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 100px;
    margin-bottom: 100px;
}

.project-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.project {
	flex-grow: 1;
	flex-basis: 0;
	margin-right: 20px;
}

.project:last-of-type {
	margin-left: 20px;
	margin-right: 0;
}

.project-img {
	min-width: 300px;
	height: 300px;
	margin-bottom: 0;
	background-position: center;
	background-size: cover;
}

.project-img#floor-is-lava {
	background-image: url("../img/floor-is-lava.png");
}

.project-img#fortnite-jump {
	background-image: url("../img/fortnite-jump.png");
}

.project-body {
	padding-top: 17px;
	padding-right: 17px;
}

.project-body h5 {
	margin-bottom: 5px;
}

.secret-canvas {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media screen and (max-width: 700px) {
	.project-row {
		flex-direction: column;
	}
	
	.project, .project:last-of-type {
		margin-left: 0;
		margin-right: 0;
	}
}