.projects {
    margin-top: 100px;
}

.project {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-content {
    display: flex;
    flex-direction: column;
    flex-basis: 600px;
}

.project-date {
    color: #AAAAAA;
}

.project-media {
    display: flex;
    flex-direction: column;
}