.projects {
    margin-top: 100px;
}

.project {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-content {
    display: flex;
    flex-direction: column;
    flex-basis: 500px;
}

.project-content, .project-media {
    margin-left: auto;
    margin-right: auto;
}